
    <div class="first">
        <h1 class="ribbon-banner"><span>How to stay up to speed on</span></h1>
        <h1 class="firsth1"><b>PLANNING AN EVENT</b></h1>
    </div>

    <div class="second">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4>The events industry is climbing in growth every year. Now is a better time than ever to be in the event planning business!</h4>
                    <h4>An important part of our job as event planners is to learn new skills and stay on top of recent trends. With the plethora of blog posts and tips, this can get overwhelming. That’s why we created this page to gather the best resources for planning an event in one place.</h4>
                    <br>
                    <span class='st_facebook_vcount' displayText='Facebook'></span>
                    <span class='st_twitter_vcount' displayText='Tweet'></span>
                    <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                    <span class='st_pinterest_vcount' displayText='Pinterest'></span>
                </div>
            </div>
        </div>
    </div>

    <div class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>FOLLOW THESE SIMPLE STEPS <i class="fa fa-arrow-down"></h1></i>
                </div>
            </div>
        </div>
    </div>

    <div class="third">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h3>1 Follow smart people</h3>
                    <h3>2 Consume quality content</h3>
                    <h3>3 Join Linkedin groups</h3>
                    <h3>4 Use Awesome Tools</h3>
                    <h3>5 Attend awesome events</h3>
                </div>
                <div class="col-sm-6 text-left">
                    <img src="images/ticket_man.png">
                </div>
            </div>
        </div>
    </div>






    <div class="fourth">
        <h1 class="fourthh1">1. Follow Smart People</h1>
        <h4 class="fourthh4">Keep in touch with these influencers on Twitter. They are experts on a variety of topics and provide up to date commentary on planning events.</h4>
    </div>

    <div class="people">
        <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/gadgetboy">
                        <img class="media-object dp img-circle" src="images/john_federico.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">John Federico <small> @gadgetboy</small></h4>
                        <h5>Co-Founder of <a href="http://eventhero.io/">Eventhero.io</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/gadgetboy"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/lizkingevents">
                        <img class="media-object dp img-circle" src="images/liz_king.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Liz King <small>@lizkingevents</small></h4>
                        <h5>NYC-Based Event Planning Superhero</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/lizkingevents"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/jeffhurt">
                        <img class="media-object dp img-circle" src="images/jeff_hurt.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jeff Hurt<small> @jeffhurt</small></h4>
                        <h5>Executive VP at<a href="http://www.velvetchainsaw.com/"> Velvet Chainsaw Consulting</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/jeffhurt"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/jeffreynkirk">
                        <img class="media-object dp img-circle" src="images/jeff_kirk.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jeffrey Kirk <small> @jeffreynkirk</small></h4>
                        <h5>COO for <a href="http://www.corporatemagicinc.com/">Corporate Magic</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/jeffreynkirk"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/ItsWillCurran">
                        <img class="media-object dp img-circle" src="images/will_curran.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Will Curran <small> @itswillcurran</small></h4>
                        <h5>Founder of Endless Entertainment</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/ItsWillCurran"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/plannerwire">
                        <img class="media-object dp img-circle" src="images/keith_johnston.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Keith Johnston <small> @plannerwire</small></h4>
                        <h5>Publisher Guy at <a href="http://plannerwire.net/">Planner Wire</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/plannerwire"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/corbinball">
                        <img class="media-object dp img-circle" src="images/corbin_ball.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Corbin Ball <small> @corbinball</small></h4>
                        <h5>Events and Tradeshow Tech Analyst</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/corbinball"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/dinamanzo">
                        <img class="media-object dp img-circle" src="images/dina_manzo.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Dina Manzo <small> @dinamanzo</small></h4>
                        <h5>Damn talented event planner, hostess & designer</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/dinamanzo"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/davidtutera">
                        <img class="media-object dp img-circle" src="images/david_tutera.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">David Tutera <small> @davidtutera</small></h4>
                        <h5>Celebrity Wedding and Party Planner</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/davidtutera"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/mindyweiss">
                        <img class="media-object dp img-circle" src="images/mindy_weiss.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Mindy Weiss <small> @mindyweiss</small></h4>
                        <h5>Wedding & Event Planner</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/mindyweiss"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/colincowie">
                        <img class="media-object dp img-circle" src="images/colin_cowie.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Colin Cowie <small> @colincowie</small></h4>
                        <h5>Celebrity Event Planner & Producer</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/colincowie"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/prestonrbailey">
                        <img class="media-object dp img-circle" src="images/preston_bailey.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Preston Bailey <small> @prestonrbailey</small></h4>
                        <h5>Event Designer & International Traveler</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/prestonrbailey"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/ohhappyday">
                        <img class="media-object dp img-circle" src="images/jordan_ferney.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jordan Ferney <small> @ohhappyday</small></h4>
                        <h5>Event Planner & Blogger</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/ohhappyday"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/thepartygoddess">
                        <img class="media-object dp img-circle" src="images/marley_majcher.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Marley Majcher <small> @thepartygoddess</small></h4>
                        <h5>Celebrity Event Planner & TV Personality</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/thepartygoddess"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/kimreynolds">
                        <img class="media-object dp img-circle" src="images/kim_reynolds.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Kim Reynolds <small> @kimreynolds</small></h4>
                        <h5>Marketing Manager at <a href="http://www.socialmediaexaminer.com/">Social Media Examiner</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/kimreynolds"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/planningforever">
                        <img class="media-object dp img-circle" src="images/saundra_hadley.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Saundra Hadley <small> @planningforever</small></h4>
                        <h5>Event/Wedding Engineer</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/planningforever"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/blissevents">
                        <img class="media-object dp img-circle" src="images/kasey_conyers.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Kasey Skobel-Conyers <small> @blissevents</small></h4>
                        <h5>Stylish Wedding & Event Planner</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/blissevents"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/lisa_hurley">
                        <img class="media-object dp img-circle" src="images/lisa_hurley.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Lisa Hurley <small> @lisa_hurley</small></h4>
                        <h5>Editor at <a href="http://specialevents.com/">Special Events</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/lisa_hurley"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/asegar">
                        <img class="media-object dp img-circle" src="images/adrian_segar.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Adrian Segar <small> @asegar</small></h4>
                        <h5>Meeting (Re-Designer), Convener, Facilitator</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/asegar"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/JerriWoolworth">
                        <img class="media-object dp img-circle" src="images/jerri_woolworth.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jerri Woolworth <small> @jerriwoolworth</small></h4>
                        <h5>Founder of <a href="http://www.jerriwoolworth.com/">Jerri Woolworth Weddings & Events</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/JerriWoolworth"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/travisaaberg">
                        <img class="media-object dp img-circle" src="images/travis_aaberg.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Travis Aaberg <small> @travisaaberg</small></h4>
                        <h5>Community Manager at <a href="http://www.eventgeek.com/">Event Geek</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/travisaaberg"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>



        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/issajouaneh">
                        <img class="media-object dp img-circle" src="images/issa_jouaneh.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Issa Jouaneh <small> @issajouaneh</small></h4>
                        <h5>Senior VP at American Express Meetings & Events</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/issajouaneh"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/davidadler">
                        <img class="media-object dp img-circle" src="images/david_adler.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">David Adler <small> @davidadler</small></h4>
                        <h5>Founder & CEO at <a href="http://www.bizbash.com/bizbash-events/">Biz Bash</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/davidadler"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/tojulius">
                        <img class="media-object dp img-circle" src="images/julius_solaris.png" style="width: 100px;height:100px;">             
                        </a>
                    <div class="media-body">
                        <h4 class="media-heading">Julius Solaris <small> @tojulius</small></h4>
                        <h5>Editor of <a href="http://www.eventmanagerblog.com/">Event Manager Blog</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/tojulius"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/beckitrain">
                        <img class="media-object dp img-circle" src="images/becki_cross.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Becki Cross <small> @beckitrain</small></h4>
                        <h5>Event Prof, MD at <a href="http://www.eventsnorthern.co.uk/">Events Northern</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/beckitrain"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
                        <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/dahliaelgazzar">
                        <img class="media-object dp img-circle" src="images/dahlia_gazzar.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Dahlia El Gazzar <small> @DahliaElGazzar</small></h4>
                        <h5>EventTech Connoisseur. Creator of Meeting Pool.</h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/dahliaelgazzar"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="media">
                    <a class="pull-left" href="https://twitter.com/davidstarkinc">
                        <img class="media-object dp img-circle" src="images/david_stark.png" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">David Stark <small> @davidstarkinc</small></h4>
                        <h5>President at <a href="http://www.davidstarkdesign.com/">David Stark Design</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default"><a href="https://twitter.com/davidstarkinc"><i class="fa fa-twitter"></i>Follow</a></span>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>








    <div class="fifth">
        <h1 class="fifthh1">2. Consume Quality Content</h1>
        <h4 class="fifthh4">There’s a ton of useful info on the web for planning an event. Keeping up on all the hot trends can be daunting and might drive you up the wall!</h4>
        <h4 class="fifthh4">To bring organization to the learning process, we’ve gathered all the best event planning sources in one place.</h4>
    </div>

    <div class="blogs">
        <h1>Blogs to follow</h1>
        <br>
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://helloendless.com/blog/">
                                <img class="media-object" src="images/endless_entertainment.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://helloendless.com/blog/">Endless Entertainment</a></h4>
                                <p>A fantastic blog for tricks, trends, and tips in event production.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.eventmanagerblog.com/">
                                <img class="media-object" src="images/event_manager.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.eventmanagerblog.com/">Event Manager Blog</a></h4>
                                <p>The number one blog worldwide for event planners.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.techsytalk.com">
                                <img class="media-object" src="images/techsy_talk.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.techsytalk.com">Techsy Talk</a></h4>
                                <p>Tech resources for event planners and entrepreneurs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.bizbash.com/">
                                <img class="media-object" src="images/biz_bash.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.bizbash.com/">Biz Bash</a></h4>
                                <p>Event planning news, ideas, & resources.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.eventindustrynews.co.uk/">
                                <img class="media-object" src="images/event_news.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.eventindustrynews.co.uk/">Event Industry News</a></h4>
                                <p>An online event magazine that provides the latest news to the events industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://planyourmeetings.com/">
                                <img class="media-object" src="images/plan_meeting.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://planyourmeetings.com/">Plan Your Meetings</a></h4>
                                <p>Helping you plan better meetings and events.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://specialevents.com/">
                                <img class="media-object" src="images/special_events.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://specialevents.com/">Special Events</a></h4>
                                <p>A leader in the event planning industry and posts detailed blog posts regularly</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://blog.boomset.com/">
                                <img class="media-object" src="images/boomset_blog.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://blog.boomset.com/">Boomset Blog</a></h4>
                                <p>Spotlights, guest posts, and some great listicles on all things event tech & marketing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://velvetchainsaw.com/">
                                <img class="media-object" src="images/velvet_chainsaw.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://velvetchainsaw.com/">Velvet Chainsaw</a></h4>
                                <p>Helping Improve annual meetings, conferences and education.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.gallusevents.co.uk/blog/">
                                <img class="media-object" src="images/gallus_events.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.gallusevents.co.uk/blog/">Gallus Events</a></h4>
                                <p>UK based event consultants who share knowledge from their experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://blog.ticketbud.com/">
                                <img class="media-object" src="images/ticketbud.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://blog.ticketbud.com/">Ticketbud</a></h4>
                                <p>A blog about organizing incredible events with technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.eventtechbrief.com/">
                                <img class="media-object" src="images/event_brief.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.eventtechbrief.com/">Event Tech Brief</a></h4>
                                <p>Information for building events of the future.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="https://guidebook.com/mobile-guides/category/event-planning/">
                                <img class="media-object" src="images/guidebook.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="https://guidebook.com/mobile-guides/category/event-planning/">Guidebook Resources</a></h4>
                                <p>Tons of quality resources on every aspect to event planning.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://meetingpool.net/">
                                <img class="media-object" src="images/meeting_pool.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://meetingpool.net/">The Meeting Pool</a></h4>
                                <p>A deep dive into event technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.conferencesthatwork.com/index.php/blog/">
                                <img class="media-object" src="images/conferences_work.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.conferencesthatwork.com/index.php/blog/">Conferences that Work</a></h4>
                                <p>The latest posts on conference design, facilitation, and peer conferences.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.pcmaconvene.com/">
                                <img class="media-object" src="images/pcma.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.pcmaconvene.com/">PCMA Convene</a></h4>
                                <p>The best of the meetings and events industry every day.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <h1>Podcasts to listen to</h1>
            <br>

            <div class="row">
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://laramcculloch.com/start-some-shift-podcast-eventprofs/">
                                <img class="media-object" src="images/start_shift.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://laramcculloch.com/start-some-shift-podcast-eventprofs/">Start Some Shift</a></h4>
                                <p>Interviews with experts to help you make massive shifts in your business</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.saffireevents.com/p/about-us/amplifier">
                                <img class="media-object" src="images/amplifier.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.saffireevents.com/p/about-us/amplifier">The Amplifier</a></h4>
                                <p>"No holds barred" conversations about marketing events and venues.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://eventsupremacy.com/">
                                <img class="media-object" src="images/event_supremacy.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://eventsupremacy.com/">Event Supremacy</a></h4>
                                <p>The #1 podcast for creating kick-ass events.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://www.plannerspod.com/">
                                <img class="media-object" src="images/planners_plan.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://www.plannerspod.com/">The Planner's Plan</a></h4>
                                <p>Where event professionals share trade secrets.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://meetingspodcast.com">
                                <img class="media-object" src="images/meetings_podcast.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://meetingspodcast.com">Meetings Podcast</a></h4>
                                <p>For meetings and events organizers who want to produce engaging programs for their attendees. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="thumbnail pull-left" href="http://eventtech.co/">
                                <img class="media-object" src="images/event_tech.png" height="100" width="100">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://eventtech.co/">The Event Tech Podcast</a></h4>
                                <p>Great interviews with the leaders in event technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="fifth">
        <h1 class="fifthh1">3. Join Linkedin Groups</h1>
        <h4 class="fifthh4">What better place to find like-minded event profs then the de facto social network for professionals. In these groups, you'll find discussions across many topics. This is also a great opportunity to connect with others in the event industry.</h4>
        <h4 class="fifthh4">Many of these groups require approval but you should be fine if you've updated your profile with your event planning experience.</h4>
    </div>

    <div class="events">
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/grp/home?gid=2250783">
                                    <img class="media-object" src="images/career_advice.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/grp/home?gid=2250783">Career Advice for Event Planning & Management </a></h4>
                                    <p>For event planners to request career advice & discuss career related issues.</p>
                                    <a href="https://www.linkedin.com/grp/home?gid=2250783"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/grp/home?gid=118671">
                                    <img class="media-object" src="images/event_peeps.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/grp/home?gid=118671">Event Peeps</a></h4>
                                    <p>The LinkedIn group for Event Peeps -- Professionals across the live event industry.</p>
                                    <a href="https://www.linkedin.com/grp/home?gid=118671"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/groups?gid=73826">
                                    <img class="media-object" src="images/event_society.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/groups?gid=73826">International Special Event Society</a></h4>
                                    <p>Over 5,200 professionals representing a wide variety of vocations within the special events industry.</p>
                                    <a href="https://www.linkedin.com/groups?gid=73826"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/groups/National-Association-Campus-Activities-57657/about">
                                    <img class="media-object" src="images/national_activities.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/groups/National-Association-Campus-Activities-57657/about">National Association for Campus Activities </a></h4>
                                    <p>If you're involved with university events, join this group.</p>
                                    <a href="https://www.linkedin.com/groups/National-Association-Campus-Activities-57657/about"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/groups?home=&gid=160845">
                                    <img class="media-object" src="images/who_events.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/groups?home=&gid=160845">Who's Who in Events</a></h4>
                                    <p>A group to network, learn and bounce off the talent and experience of other event professionals.</p>
                                    <a href="https://www.linkedin.com/groups?home=&gid=160845"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://www.linkedin.com/grp/home?gid=60415">
                                    <img class="media-object" src="images/event_management.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://www.linkedin.com/grp/home?gid=60415">Event Planning & Event Management</a></h4>
                                    <p>250,000+ group of eventprofs that shares content to keep up with industry trends.</p>
                                    <a href="https://www.linkedin.com/grp/home?gid=60415"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div> 


    <div class="sixth">
            <h1 class="sixthh1">4. Use These Tools</h1>
        <h4 class="sixthh4">There are hundreds of products & services to help market, manage and plan your events. We've cherry picked some of our favorites below.</h4>
        <h4 class="sixthh4">The key here is to find the tools automate your repeated, manual tasks. This equates to freeing up more time to focus on the stuff that matters when planning an event.</h4>
        </div>



        <div class="events">
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://zapier.com/">
                                    <img class="media-object" src="images/zapier.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.zapier.com/">Zapier</a></h4>
                                    <p>Zapier is the glue that makes it easy for anyone to connect their web services together, saving time and improving productivity.</p>
                                    <a href="http://www.zapier.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.trello.com/">
                                    <img class="media-object" src="images/trello.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.trello.com/">Trello</a></h4>
                                    <p>Trello keeps track of everything, from the big picture to the minute details.</p>
                                    <a href="http://www.trello.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.mailchimp.com">
                                    <img class="media-object" src="images/mailchimp.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.mailchimp.com">Mailchimp</a></h4>
                                    <p>Email marketing service provider that makes it easy to communicate with your audience.</p>
                                    <a href="http://www.mailchimp.com"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.guidebook.com/">
                                    <img class="media-object" src="images/guidebook.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.guidebook.com/">Guidebook</a></h4>
                                    <p>Build and publish mobile event apps for all types of devices.</p>
                                    <a href="http://www.guidebook.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="https://sched.org/">
                                    <img class="media-object" src="images/sched.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://sched.org/">Sched</a></h4>
                                    <p>Event scheduling software, mobile apps and personal agenda builders.</p>
                                    <a href="https://sched.org/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.surveymonkey.com/">
                                    <img class="media-object" src="images/survey_monkey.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.surveymonkey.com/">Survey Monkey</a></h4>
                                    <p>Create and publish online surveys in minutes, and view results graphically and in real time. </p>
                                    <a href="http://www.surveymonkey.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div> 



        <div class="sixth">
            <h1 class="sixthh1">5. Attend Awesome Events</h1>
            <h4 class="sixthh4">It only makes sense that there’s hundreds of industry events where event planning is the focus.</h4>
            <h4 class="sixthh4">Participate in workshops, catch a keynote, and network your butt off. Who wouldn’t want to meet like-minded people and learn about best practices?</h4>
        </div>

        <div class="events">
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://bashconference.com/">
                                    <img class="media-object" src="images/bash.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://bashconference.com/">Bash Conference</a></h4>
                                    <p>A "resource" to all those in the Party and Entertainment industry.</p>
                                    <a href="http://www.bashconference.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.thespecialeventshow.com/">
                                    <img class="media-object" src="images/special_events.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.thespecialeventshow.com/">The Special Event</a></h4>
                                    <p>The industry's premier tradeshow for event professionals.</p>
                                    <a href="http://www.thespecialeventshow.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.catersource.com/conferences-tradeshows">
                                    <img class="media-object" src="images/cses.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.catersource.com/conferences-tradeshows">CSES</a></h4>
                                    <p>Leading live event for catering and event professionals.</p>
                                    <a href="http://www.catersource.com/conferences-tradeshows"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://www.imexamerica.com/">
                                    <img class="media-object" src="images/imex.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://www.imexamerica.com/">IMEx America</a></h4>
                                    <p>The pulse of the meetings industry that takes place every year.</p>
                                    <a href="http://www.imexamerica.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <div class="media">
                                <a class="thumbnail pull-left" href="http://emsummit.eventmarketer.com/">
                                    <img class="media-object" src="images/experimental_summit.png" height="100" width="100">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="http://emsummit.eventmarketer.com/">Experimental Marketing Summit</a></h4>
                                    <p>The world's largest conference on experiential marketing.</p>
                                    <a href="http://emsummit.eventmarketer.com/"><button type="button" class="btn btn-warning">View Website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div> 


    <div class="subscribe">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 text-left">
                <div class="background-texture">
                <h2>Need to sell tickets to your event?</h2>
                <p>Check out Ticketbud. We're passionately obsessive with your event's success.<p>
                    <form method="post" action="https://ticketbud.com/users?utm_source=externalsite&utm_medium=content&utm_campaign=planningrocks">
                        <div class="form-group text-left">
                            <input name="user[email]" type="text" class="form-control" id="exampleInputName" placeholder="Email">
                        </div>
                        <div class="form-group text-left">
                            <input name="user[password]" type="password" class="form-control" id="exampleInputName" placeholder="Password">
                        </div>
                                             <input name="user[tos]" type="hidden" value="0" id="INPUT_13" />
  <input name="user[tos]" type="checkbox" value="1" /> I agree to the <a href="https://ticketbud.com/terms" id="A_15">Terms of Service</a> and <a href="https://ticketbud.com/privacy" id="A_16">Privacy Policy</a><br id="BR_17" /><br id="BR_18" /></p>
                        <button type="submit" class="btn btn-success text-left">Try Today!</button>
                    </form>
                </div>
                </div>
                <div class="col-md-6">
                
                    <img src="images/ticket_superman.png"><br>
                    <span class='st_facebook_vcount' displayText='Facebook'></span>
                    <span class='st_twitter_vcount' displayText='Tweet'></span>
                    <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                    <span class='st_pinterest_vcount' displayText='Pinterest'></span>
                </div>
            </div>
        </div>
    </div>

    


<script type="text/javascript">
adroll_adv_id = "BMYP7HIDLZEMJP6WH2BWSF";
adroll_pix_id = "RQ35ZXYGT5CJZKKXPEPTWT";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
